name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy to Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: production # Hostinger leerá de aquí
          folder: dist # Carpeta generada por el build
